<!DOCTYPE html>
<html lang="pt-br">
    <meta name="theme-color" content="#8A0808">
    <meta name="apple-mobile-web-app-status-bar-style" content="#8A0808">
<style>
.imagem {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center }
</style>
<center>
    <a href="/"><img src="/assets/img/acesso_restrito.jpg"/></a>
</center>
</html>