
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Há algum erro, verifique os campos.</h5>
                                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body"><ul>
                                                <% for(var i=0; i < validacoes.length; i++) { %>
                                                <li>
                                                    <%=validacoes[i].msg; %>
                                                </li>
                                                <% } %></div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Voltar</button>
                                            </div>
                                        </div>
                                    </div>