<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="theme-color" content="#343a40">
        <meta name="apple-mobile-web-app-status-bar-style" content="#343a40">
        <title>INCLUIR FUNCIONÁRIO</title>
        <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="../../assets/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
        <link href="../../assets/css/sb-admin.css" rel="stylesheet">
        <link rel="stylesheet" href="../../assets/css/uikit.min.css" />
    </head>

    <body>

            <%- include('header') -%>
       
        <div class="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin/home">Inicio</a>
                    </li>
                    <li class="breadcrumb-item active">Incluir funcionário</li>
                </ol>
                <div class="row">
                    <div class="col-12">
                        <h1>Incluir funcionário</h1>
                        <%- include('header') -%>                   
<% if(validacoes.length > 0){ %>
    <div class="fundo">
    <div class="uk-alert" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>Há algum erro, verifique os campos.</p>
        <ul>
            <% for(var i=0; i < validacoes.length; i++) { %>
            <li>
                <%=validacoes[i].msg; %>
            </li>
            <% } %>
        </ul>
    </div> 
<% } %>
                        <form action="/admin/usuarios/salvar" data-toggle="validator" role="form" method="post" class="uk-grid-small" uk-grid>
                                <label for="nome">Nome:</label>
                                <div class="uk-width-1-1">
                                    <input class="uk-input" name="nome" type="text" placeholder="Digite o nome completo" required>
                                </div>
                                <div class="uk-width-1-2@s">
                                    <label for="login">Usuário:</label>
                                    <input class="uk-input" name="login" type="text" placeholder="Digite o usuário" required>
                                </div>
            
                                <div class="uk-width-1-2@s">
                                    <label for="senha">Senha:</label>
                                    <input class="uk-input" name="senha" type="password" placeholder="Digite a senha" required>
                                </div>
            
                                <div class="uk-width-1-1">
                                    <label for="cargo">Cargo:</label>
                                    <select id="cargo" name="cargo" class="uk-select">
                                        <option value="Suporte Técnico">Suporte Técnico</option>
                                        <option value="Comercial">Comercial</option>
                                        <option value="Financeiro">Financeiro</option>
                                        <option value="Gerente">Gerente</option>
                                        <option value="Supervisor">Supervisor</option>
                                    </select>
                                </div>
                                <p class="uk-width-1-1">
                                    <button class="btn btn-primary"><span class="fa fa-check-square-o" data-toggle="modal" data-target="#myModal"></span> Salvar</button>
                                </p>
                            </form>

                    </div>
                </div>
            </div>
        </div>
            
        <%- include('footer') -%>
         <!-- The Modal -->
         <div class="modal" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">INCLUSÃO DE UM NOVO FUNCIONÁRIO</h4>
                  <button type="button" class="close" data-dismiss="modal" href="/admin/planos/">&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                  O funcionário foi cadastrado com sucesso!
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                </a>
                <a class="btn btn-success" href="/admin/planos/">
                    <span class="fa fa-check-square-o"></span> OK
                </a>
                </div>
          
              </div>
            </div>
          </div>


                
                            <script src="../../assets/vendor/jquery/jquery.min.js"></script>
                            <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
                
                            <script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
                
                            <script src="../../assets/vendor/chart.js/Chart.min.js"></script>
                            <script src="../../assets/vendor/datatables/jquery.dataTables.js"></script>
                            <script src="../../assets/vendor/datatables/dataTables.bootstrap4.js"></script>
                
                            <script src="../../assets/js/sb-admin.min.js"></script>
                
                            <script src="../../assets/js/sb-admin-datatables.min.js"></script>
                            <script src="../../assets/js/sb-admin-charts.min.js"></script>
                            <script src="../../assets/js/uikit.min.js"></script>
                            <script src="../../assets/js/uikit-icons.min.js"></script>
                        </div>
                    </body>
                
                </html>